.intro {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  background-color: white;
  text-align: center;
}

.intro-title,
.intro-text {
  display: block;
  margin: 12px auto;
  width: 600px;
  padding-bottom: 12px;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

/* ==========================================================================
   REASONS (1,2)
   ========================================================================== */

.reasons__list {
  display: flex;
  flex-direction: row;
}

.reasons__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 256px;
  background-color: #81B3D2;
  color: white;
}

.reasons__list-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 12px;
  max-width: 200px;
}

.reasons__list-item-text {
  font-size: 14px;
  line-height: 21px;
  max-width: 230px;
}

.reasons__list-item-image img {
  width: 800px;
  height: 256px;
  vertical-align: middle;
}

/* ==========================================================================
   FEATURES (жильё еда сувениры)
   ========================================================================== */

.features__list {
  display: flex;
  flex-direction: row;
}

.features__list-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 330px;
  background-color: white;
}


.features__list-item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 12px 0;
}

.features__list-item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 260px;
  align-self: center;
}

.features__list-item img {
  width: 80px;
  height: auto;
  align-self: center;
  margin-bottom: 12px;
}

/* ==========================================================================
   ADVANCED REASONS (3-5)
   ========================================================================== */

.advreasons__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advreasons__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 40px 20px;
  background-color: #EEEEEE;
}

.advreasons__list-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 12px 0;
  max-width: 150px;
  align-self: center;
}

.advreasons__list-item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 270px;
  height: auto;
  align-self: center;
}

/* ==========================================================================
   BOOKING
   ========================================================================== */

.booking {
  text-align: center;
  align-items: center;
  padding: 70px 0;
  height: auto;
  background-color: white;
}

.booking__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.booking__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 400px;
  padding: 30px 0;
}

.btn {
  width: 458px;
  height: 58px;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: white;
  background-color: #81B3D2;
  font-family: PTSans;
}

.btn:hover {
  background-color: #669EC0;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer {
  max-width: 1200px;
  height: 120px;
  margin: 0;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__hashtag {
  flex: 1;
  text-align: left;
  padding-left: 100px;
  font-weight: 700;
  font-size: 21px;
}

.social-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  list-style: none;
}

.social-nav__link {
  width: 48px;
  height: 48px;
}

/* ==========================================================================
   CATALOGUE.HTML
   GALLERY
   ========================================================================== */

.gallery {
  display: grid;
  grid-template-areas:
  "a a a"
  "b c d";
}
  
.gallery__item, .gallery__item-one {
  overflow: hidden;
  position: relative;
}
  
.gallery__item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.gallery__item:hover img {
  transform: scale(1.05); 
}
  
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 30px;
  text-align: left;
  height: 40px;
}
  
.gallery__caption {
  font-size: 1.2em;
  margin-bottom: 5px;
}
  
.gallery__likes img{
  display: unset;
  vertical-align:text-top;
  margin-right: 5px;
  filter: grayscale();
  width: 23px;
  height: auto;
}

.gallery__author {
  text-transform: none;
}

.gallery__likes {
  font-size: 14px; 
  font-weight: 700;
  text-align: right;
}
   
/* ==========================================================================
   MIDDLE
   ========================================================================== */

.middle {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  background-color: white;
  text-align: center;
}
  
.middle-title,
.middle-text {
  display: block;
  margin: 12px auto;
  width: 600px;
  padding-bottom: 12px;
}
  
.middle-title {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
}
  
.middle-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hero {
  width: 100%;
}

.map {
  width: 100%;
}

.map__frame {
  max-width: 1197px;
  height: 350px;
  margin: 0;
  padding: 0;
  gap: 0;
}

.map__frame iframe {
  width: 100%;
}



