@font-face {
  font-family: PTSans-Bold;
  src: url('fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  max-width: 1200px;
  align-items: center;
}

ul, ol {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  text-transform: uppercase;
  font-family: PTSans-Bold, Tahoma, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nav-list {
  width: 100%;
  height: 56px;

  display: flex;
  gap: 16px;

  justify-content: space-around;
  vertical-align: middle;
}

.hero__media {
  padding-top: 56px;
  position: relative;
}